<!DOCTYPE html>
<html>
<head>
  <title>New Message</title>
</head>
<body>
  <h1>New Message</h1>
  <form method="post" action="/new">
    <div>
        <label for="user">Username: </label>
        <input type="text" id="user" name="user" required>
    </div>
    <div>
        <label for="message"></label>
        <input type="text" id="message" name="message" placeholder="Write your message here..." required>
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
