body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

.message #username {
  font-size: 1.2rem;
}

.message {
  display: flex;
  gap: 2px;
}